.docker {
  width: 80%;
  height: 54px;
  background: rgba(255, 255, 255, 0.486);
  border-radius: 20px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  backdrop-filter: blur(4px);
}
