.container {
  background: #ececec;
}

.resume {
  width: 100%;
  height: 1500px;
  overflow: hidden;
}

.content {
  width: 870px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: 20px auto;
  border-radius: 10px;
  height: 90%;
}

.top {
  width: 100%;
  height: 200px;
  background-color: #009688;
  color: #fff;
  padding: 20px 50px;
  border-radius: 10px 10px 0 0;
  background: rgb(34, 195, 179);
  background: linear-gradient(
    90deg,
    rgb(3, 143, 89) 100%,
    rgb(7, 180, 114) 100%
  );
}

.title {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: -5px;
}

.avator {
  position: absolute;
  right: -14px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: -4px;
}

.subTitile {
  margin-left: 10px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 200;
}

.header {
  position: relative;
  height: 40px;
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
}

.position {
  position: absolute;
  right: 42px;
  top: 5px;
}

.info {
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.infoLink {
  display: flex;
  align-items: center;
}

.main {
  width: 100%;
  height: calc(100% - 200px);
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  padding: 5px 20px;
}

.cardComp {
  width: 100%;
  padding: 20px;
  min-height: 100px;
}

.column {
  width: 50%;
  display: inline-block;
}

.cardTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cardLine {
  display: inline-block;
  height: 1px;
  background: #e6e6e6;
  width: calc(50% - 90px);
}

.cardTitleText {
  display: inline-block;
  padding: 2px;
  background: #e6e6e6;
  border-radius: 20px;
  min-width: 150px;
  text-align: center;
  font-size: 14px;

  color: #000;
}

.rowRow {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 30px;
  color: #747474;
  position: relative;
  padding-left: 20px;
}

.rowLink {
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: all 0.2s linear;
}

.rowLink:hover {
  transform: scale(1.2);
}

.titleTitle {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 30px;
  color: #747474;
  justify-content: space-between;
}

.titleText {
  font-weight: bold;
  color: #000;
}

.titleDate {
  font-size: 13px;
}

.rowDot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #028f58;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  top: 10px;
  left: 4px;
}
