.card {
  width: 300px;
  height: 110px;
  background: white;
  border-radius: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  padding: 10px;
  position: relative;
  margin: 10px;
  transition: all 1s;
}

a:hover {
  text-decoration: none !important;
}

.card:hover {
  background: #c6c6c64f;
}

[data-theme='dark'] .card:hover {
  background: #c6c6c64f;
}

[data-theme='dark'] .card {
  background: #68686840;
}

.title {
  font-size: 20px;
  color: #ff3d71;
  margin-bottom: 10px;
}

.sub {
  display: flex;
  padding: 0 10px;
}

.subTitle {
  margin-left: 10px;
  font-size: 12px;
  width: 210px;
  height: 43px;
  overflow: hidden;
}
