.smallDocker {
  width: 100px;
  height: 5px;
  background-color: #ffffff4f;
  position: fixed;
  bottom: 4px;
  left: 50%;
  transform: translate(-50%, 0px);
  border-radius: 5px;
  transition: all 0.5s;
}

.smallDocker:hover {
  width: 250px;
  height: 20px;
  border-radius: 20px;
}
